.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-text-1 {
  margin: 32px 557px 0 13px;
}

.u-section-1 .u-form-1 {
  height: 415px;
  margin: 32px 557px 21px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 459px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 352px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 264px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 166px;
  }
}